// Global
$spacer: 2rem;
$body-bg: #fff;

// Options 
$enable-responsive-font-sizes: true;

// Typography
@font-face {
    font-family: 'Sailec';
    src: url('/fonts/Sailec-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SailecMedium';
    src: url('/fonts/Sailec-Medium.ttf') format('truetype');
    font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'SailecBold';
    src: url('/fonts/Sailec-Bold.ttf') format('truetype');
    font-weight: bolder;
	font-style: normal;
}

$font-family-sans-serif: 'Sailec', sans-serif;
$font-size-base: 0.9rem;
$headings-font-family: 'SailecBold';
$line-height-base: 1.6;

// Navbar
$navbar-padding-y: $spacer;
$navbar-padding-x: $spacer / 2;

$navbar-light-toggler-border-color: #fff;
$navbar-toggler-font-size: 1rem;
$navbar-toggler-padding-y: 0rem;
$navbar-toggler-padding-x: 0rem;

// Hero
#hero {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.navbar {
    font-family: 'SailecMedium'
}
